/* CONTENT */

/* MAIN */
#content .card-holder {
  width: 100%;
  padding: 2rem;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light);

  .card {
    width: 25%;
    padding: 0.5rem;
    overflow: hidden;
    height: auto;
    position: relative;
    color: var(--dark);
    background-color: var(--light);

    .product-block {
      width: 100%;
      position: relative;

      .card-img {
        display: block;
        width: 100%;
        height: 29rem;
        position: relative;

        img {
          display: block;
          width: 100%;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .product-info {
        opacity: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 30px 50px -10px var(--dark-transparent),
          inset 0px -30px 50px -10px var(--dark-transparent);

        .favor-btn {
          display: block;
          width: fit-content;
          padding: 0.5rem 2rem;
          border-radius: 0.75rem;
          outline: none;
          border: none;
          color: var(--light);
          background-color: var(--dark-transparent);

          &:hover {
            background-color: var(--dark);
          }
        }

        .product-bottom {
          display: block;
          width: 100%;
          color: var(--light);
          font-size: 2rem;
          font-weight: 600;
        }
      }

      &:hover {
        .product-info {
          opacity: 100%;
        }
      }
    }

    .creator-block {
      padding-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .creator-link {
        color: var(--dark);
        font-weight: 500;
        font-size: 1.8rem;

        &:hover {
          text-decoration: underline;
        }
      }

      .reaction {
        display: flex;
        align-items: center;
        font-size: 1.8rem;

        i {
          height: 1.8rem;
          margin-right: 0.5rem;
        }
      }
    }

    .card-info {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media (max-width: 1280px) {
  .card {
    width: 50% !important;
  }
}

@media (max-width: 880px) {
  .card {
    width: 100% !important;
  }
}
