#publish {
  padding: 2rem;
  width: 100%;
  height: fit-content;

  .container {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    background-color: var(--grey);
    box-shadow: 0 0 30px -5px var(--dark-transparent);
    padding: 2rem;
    border-radius: 1rem;
    overflow: hidden;

    .img {
      display: block;
      width: 80%;
      min-height: 50rem;
      height: auto;
      margin: 0 auto;
      border-radius: 1rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    form {
      display: block;
      width: 90%;
      height: fit-content;
      margin: 2rem auto;

      .input-block {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 1rem;

        &:nth-child(4) {
          align-items: flex-start;
        }

        .form-label {
          width: 30%;
          display: block;
          font-size: 2.5rem;
          font-weight: 600;
        }

        .form-input-file {
          display: block;
          width: 70%;
          height: 100%;
          font-family: "Poppins", sans-serif;
          color: var(--grey);

          &::file-selector-button {
            font-family: "Poppins", sans-serif;
            width: 15rem;
            margin-right: 1.5rem;
            padding: 0.5rem 0;
            background-color: var(--dark-transparent);
            border: 1px solid var(--dark);
            color: var(--light);
            outline: none;
            cursor: pointer;
            border-radius: 1rem;

            &:hover {
              background-color: var(--dark);
            }
          }
        }

        .form-input {
          display: block;
          width: 70%;
          outline: none;
          border: 1px solid var(--dark);
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          font-family: "Poppins", sans-serif;

          &:focus {
            outline: none;
          }
        }

        .form-select {
          display: block;
          width: 70%;
          padding: 0.5rem 1rem;
          font-family: "Poppins", sans-serif;
          border: 1px solid var(--dark);
          border-radius: 1rem;

          &:focus {
            outline: none;
          }
        }

        .form-textarea {
          display: block;
          width: 70%;
          height: 15rem;
          text-align: justify;
          overflow-y: scroll;
          padding: 0.5rem 1rem;
          font-family: "Poppins", sans-serif;
          border: 1px solid var(--dark);
          border-radius: 1rem;

          &::-webkit-scrollbar {
            display: none;
          }

          &:focus {
            outline: none;
          }
        }
      }

      input[type="submit"] {
        font-family: "Poppins", sans-serif;
        width: 30%;
        margin-right: 1.5rem;
        padding: 0.5rem 0;
        background-color: var(--dark-transparent);
        border: 1px solid var(--dark);
        color: var(--light);
        outline: none;
        cursor: pointer;
        border-radius: 1rem;
        margin-left: 70%;
        margin-top: 1rem;

        &:hover {
          background-color: var(--dark);
        }
      }
    }
  }
}
